#img-outofstock{
	position: relative;
  	text-align: center;
  	text-shadow: 1px 2px black;
}

img#img-fav{
	-webkit-filter: blur(2px);
 	filter: blur(2px);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}